body {
    background-color: #1f1e22;
    color: #e0e0e0;
    font-family: 'DM Sans';
}
.transaction-history-container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.transaction-history {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.transaction-history th, .transaction-history td {
    padding: 10px;
    text-align: left;
    border: 1px solid #9b9b9b;
}

.payment {
    color: #6d028d;
}

.menu {
    list-style-type: none;
    padding: 10px 0;
    background-color: #550191;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.menu li {
    line-height: 20px;
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.balance-container {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin: 20px 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background-color: #830283;
}

.custom-modal .modal-content {
    background-color: #2b0f38;
    color: whitesmoke;
    border-radius: 10px;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.custom-modal .modal-title {
    color: #e1ceeb;
}

.custom-modal .modal-body {
    padding: 20px;
}

.custom-modal .modal-footer {
    border-top: none;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-group {
    margin-bottom: 20px;
}

.col-form-label {
    display: block;
    margin-bottom: 5px;
}

.col-form-label.text-right {
    text-align: right;
    padding-right: 15px;
}

.form-control {
    width: 100%;
}

.container form {
    background-color: transparent;
}

.container button {
    background-color: transparent;
}

.back-and-confirm {
    display: flex;
    justify-content: space-between;
}

.flash-messages {
    list-style: none;
    padding: 0;
}

.flash-messages li {
    background-color: #f58b8b;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #4b0082;
}

.page-title {
    color: #560491;
    margin-top: 0;
    font-size: 45px;
}

.username-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.username-input, .submit-button {
    width: 100%;
    padding: 10px;
}

.username-input, .form-control, .form-control:focus{
    background-color: #724e83;
    color: whitesmoke;
    font-size: 15px;
    box-shadow: 0 0 2px #fff;
}

.username-input::placeholder{
    color: rgba(196, 186, 186, 0.788);
}

.username-input, .submit-button, .form-control{
    border-radius: 2px;
    border: 2px solid transparent;
}

.submit-button {
    box-sizing: content-box;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
}

.button, .container button {
    background-color: #4b0082;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .submit-button:hover, .container.button:hover {
    background-color: #5c1f5c;
    color: white;
    text-decoration: none;
}

.button:disabled {
    background-color: #e0e0e0;
    color: #777279;
    cursor: not-allowed;
}

.password-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.password-input {
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    background-color: #724e83;
    border: none;
    box-shadow: 0 0 2px #fff;
    color: whitesmoke;
}

.password-input:disabled {
    background-color: #777279;
}

.number-label {
    color: #e1ceeb;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #e0e0e0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}