<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enter Username</title>
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link rel="stylesheet" href='/static/styles.css' /></head>
    </head>
    <body>
        <div class="content-wrapper">
            <h1 class="page-title">Enter Username:</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('enter_username') }}" class="username-form">
                <div class="form-group">
                    <input type="text" name="username" required autocomplete="off" class="username-input">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="submit-button">
                </div>
            </form>
        </div>
        <script>
            window.onload = function() {
                if (window.history && window.history.pushState) {
                    window.history.pushState('forward', null, './#forward');
                }
            }

            window.onpopstate = function() {
                window.history.go(1);
            };

            
        </script>
    </body>
</html>