<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enter Password</title>
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link rel="stylesheet" href='/static/styles.css' /></head>
    </head>
    <body>
        <div class="content-wrapper">
            <h1 class="page-title">Enter Password for {{ username }}</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post" id="passwordForm" action="{{ url_for('enter_password', username=username) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>                
                <div class="password-container">
                    {% for i in range(16) %}
                        <div class="input-container">
                            <label for="char{{ i+1 }}" class="number-label">{{ i+1 }}</label>
                            <input type="password" id="char{{ i+1 }}" name="char{{ i+1 }}" maxlength="1" class="password-input" disabled />
                        </div>
                    {% endfor %}
                </div>
                <br />
                <input type="submit" value="Submit" class="submit-button">
                <br />
                <a href="{{ url_for('enter_username') }}" class="button">Back</a>
            </form>
        </div>


        <script>

            var enabled_positions = {{ enabled_positions | tojson }};
        
            enabled_positions.forEach(function(pos) {
                var inputField = document.getElementById('char' + pos);
                if (inputField) {
                    inputField.disabled = false;
                    inputField.classList.remove('disabled');
                }
            });
        
            enabled_positions.forEach(function (pos, index) {
                var inputField = document.getElementById('char' + pos);
        
                if (inputField) {
                    inputField.addEventListener('input', function (event) {
                        handleInput(event, index);
                    });
                    inputField.addEventListener('keydown', function (event) {
                        handleKeydown(event, index);
                    });
                }
            });
        
            function handleInput(event, index) {
                if (index < enabled_positions.length - 1) {
                    var nextInputField = document.getElementById('char' + enabled_positions[index + 1]);
                    if (nextInputField && (event.inputType === 'insertText' || event.inputType !== 'deleteContentBackward')) {
                        nextInputField.focus();
                    }
                }
            }
        
            function handleKeydown(event, index) {
                var backspaceKeyCode = 8;
        
                if (event.keyCode === backspaceKeyCode && event.target.value === '') {
                    if (index > 0) {
                        var previousInputField = document.getElementById('char' + enabled_positions[index - 1]);
                        if (previousInputField) {
                            previousInputField.focus();
                        }
                    }
                }
            }

            window.onload = function() {
                if (window.history && window.history.pushState) {
                    window.history.pushState('forward', null, './#forward');
                }
            }

            window.onpopstate = function() {
                window.history.go(1);
            };
        </script>
    </body>
</html>
