<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Bank App</title>
    <link rel="stylesheet" href='/static/styles.css' /></head>
<body>
    <ul class="menu">
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('account') }}">Account</a></li>
    </ul>

    <h2>Transaction History</h2>
    <table class="transaction-history">
        <thead>
            <tr>
                <th>Receiver Name</th>
                <th>Sum</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.receiver }}</td>
                <td class="{{ 'payment' if transaction.sum > 0 else '' }}">{{ transaction.sum }}</td>
                <td>{{ transaction.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>